/* start mise page *******************************************************************************/

/* start police importées */
@font-face {
    font-family: 'SF Pro Display';
    src: url('myFonts/SfProDisplayRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('myFonts/SfProDisplayBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('myFonts/SfProDisplayHeavyItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

/* end police importées */


/* start corps de la page */
.myCVTheme {
    --themeBackgroundColor: rgba(27, 29, 39, 1);
    --themeMenuColor: rgba(255, 255, 255, 0.5);
    --themeLightedColor: rgba(253, 147, 1, 1);
    --themeFontColor1: rgba(255, 255, 255, 1);
    --themeFontColor2: rgba(72, 111, 130, 1);
    --themeFontColor3: rgba(66, 104, 60, 1);
}

.myTrainingsTheme {
    --themeBackgroundColor: rgba(7, 41, 72, 1);
    --themeMenuColor: rgba(255, 255, 255, 0.5);
    --themeLightedColor: rgba(253, 147, 1, 1);
    --themeFontColor1: rgba(255, 255, 255, 1);
    --themeFontColor2: rgba(207, 246, 126, 1);
    --themeFontColor3: rgba(66, 104, 60, 1);
}

.aboutMeTheme {
    --themeBackgroundColor: rgba(72, 111, 130, 1);
    --themeMenuColor: rgba(255, 255, 255, 0.5);
    --themeLightedColor: rgba(253, 147, 1, 1);
    --themeFontColor1: rgba(255, 255, 255, 1);
    --themeFontColor2: rgba(0, 0, 0, 0);
    --themeFontColor3: rgba(0, 0, 0, 0);
}

.myExperienceTheme {
    --themeBackgroundColor: rgba(49, 94, 93, 1);
    --themeMenuColor: rgba(255, 255, 255, 0.5);
    --themeLightedColor: rgba(253, 147, 1, 1);
    --themeFontColor1: rgba(255, 255, 255, 1);
    --themeFontColor2: rgba(0, 0, 0, 0);
    --themeFontColor3: rgba(0, 0, 0, 0);
}

.mySkillsTheme {
    --themeBackgroundColor: rgba(66, 104, 60, 1);
    --themeMenuColor: rgba(255, 255, 255, 0.5);
    --themeLightedColor: rgba(253, 147, 1, 1);
    --themeFontColor1: rgba(255, 255, 255, 1);
    --themeFontColor2: rgba(72, 111, 130, 1);
    --themeFontColor3: rgba(27, 29, 30, 1);
}

body {
    background-color: var(--themeBackgroundColor);
    font-family: 'SF Pro Display', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: medium;
    color: white;
    margin: 0;
    padding-left: 2em;
    padding-right: 2em;
}

/* end corps de la page */

/* start Header de navigation */
.pageHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--themeMenuColor);
    border: 2px solid white;
    border-radius: 15px;
    height: 50px;
    margin-top: 3em;
    margin-bottom: 3em;
}

.pageHeaderNav {
    width: 100%;
}

.pageHeaderMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.pageHeaderMenu .menuItem {
    display: none;
    flex: 1;
    text-align: center;
}

.pageHeaderMenu li.small {
    flex: 0 0 10px;
}

.pageHeaderMenu li a {
    display: block;
    text-decoration: none;
    color: var(--themeBackgroundColor);
}

.pictureContainer {
    position: relative;
    display: inline-block;
}

.pictureCircle {
    position: absolute;
    top: -7px;
    left: -7px;
    z-index: 1;
    width: 120px;
    height: 120px;
    background-color: var(--themeBackgroundColor);
    border-radius: 100%;
}

.pictureContainer .myPicture {
    position: relative;
    z-index: 2;
    height: 100px;
    border: 3px solid white;
    border-radius: 100%;
}

.arrowLeftContainer .arrowLeft,
.arrowRightContainer .arrowRight {
    scale: 0.5;
}

/* end Header de navigation */

/* start gestion de l'affichage des sections */
section.inactive {
    display: none;
}

section.active {
    display: block;
}

/* end gestion de l'affichage des sections */

/* start div, titre h1 et paragraphe */
div.bordered {
    border-radius: 15px;
    border: 2px solid white;
    margin-top: 2em;
}

h1 {
    color: var(--themeBackgroundColor);
    text-align: left;
    width: 50%;
    border-top-left-radius: 10px;
    background: linear-gradient(to right, var(--themeFontColor1) 10%, rgba(255, 255, 255, 0) 100%);
    margin: 0;
    padding: 0.5em;
}

p {
    margin: 1em;
}

p.fontColor1{
    color: var(--themeFontColor1);
}

p.fontColor2{
    color: var(--themeFontColor2);
}

p.fontColor3{
    color: var(--themeFontColor3);
}

/* end section A propose de moi */

/* start menu civilState */
.myCivilStateList,
.myHobbiesList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    width: 100%;
}

/* end menu civilState */

/* start footer */
footer {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* end footer */

/* end mise page *********************************************************************************/

/* start animations ******************************************************************************/
/* start auréole dorée au survol de l'image centrale */
.myPicture.lightedOn {
    border: 3px solid var(--themeLightedColor);
    transition: ease-in-out;
    transition-duration: 1s;
}

.myPicture.lightedOff {
    transition: ease-in-out;
    transition-duration: 1s;
}

div.lightedOn {
    border: 2px solid rgb(253, 147, 1);
    transition: ease-in-out;
    transition-duration: 1s;
}

div.lightedOff {
    transition: ease-in-out;
    transition-duration: 1s;
}

h1.lightedOn {
    background: linear-gradient(to right, var(--themeLightedColor) 10%, rgba(255, 255, 255, 0) 100%);
    transition: ease-in-out;
    transition-duration: 1s;
}

h1.lightedOff {
    transition: ease-in-out;
    transition-duration: 1s;
}

/* end auréole dorée au survol de l'image centrale */

/* start rotation flèche menu au survol de l'image centrale */
.arrowLeft.rotationOn {
    transition: ease-in-out;
    transition-duration: 1s;
    transform: rotate(180deg);
}

.arrowLeft.rotationOff {
    transition: ease-in-out;
    transition-duration: 1s;
}

.arrowRight.rotationOn {
    transition: ease-in-out;
    transition-duration: 1s;
    transform: rotate(-180deg);
}

.arrowRight.rotationOff {
    transition: ease-in-out;
    transition-duration: 1s;
}

/* end rotation flèche menu au survol de l'image centrale */

/* start apparition des menus au survol de l'image centrale */
.pageHeaderContainer:hover .pageHeaderMenu .menuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
}

.pageHeaderContainer:hover .arrowLeftContainer,
.pageHeaderContainer:hover .arrowRightContainer {
    flex: 0 0 50px;
}

.pageHeaderContainer:hover .pageHeaderMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
}

/* end apparition des menus au survol de l'image centrale */


/* Start soulignement des éléments du menu lors de leur survol */
.pageHeaderMenu li.underlined a {
    position: relative;
    font-weight: bold;
    padding: 7px;
}

.pageHeaderMenu li.underlined a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 3px;
    border-bottom: 3px solid transparent;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
}

.pageHeaderMenu li.underlined a:hover::after {
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    border-bottom: 3px solid var(--themeBackgroundColor);
    width: 90%;
    transform: translateX(-50%) scaleX(0.9);
}

/* end soulignement des éléments du menu lors de leur survol */

/* start cartes par dessus icônes de la section état civil */
.myCivilStateList figure {
    position: relative;
    width: 150%;
    height: 100%;
    overflow: hidden;
}

.myCivilStateList figcaption {
    position: absolute;
    margin: 0;
    right: 0;
    left: 0;
    height: 100px;
    bottom: -100px;
    background-color: rgba(255, 255, 255, 0.8);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    color: rgb(72, 111, 130);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.myCivilStateList figure:hover figcaption {
    bottom: 0;
}

.myCivilStateList figcaption a {
    text-decoration: none;
    color: rgb(72, 111, 130);
}

.myCivilStateList figcaption a:hover {
    text-decoration: none;
}

/* end cartes par dessus icônes de la section état civil */

/* end animations ********************************************************************************/