/* start mise page *******************************************************************************/

/* start police importées */
@font-face {
    font-family: 'SF Pro Display';
    src: url('myFonts/SfProDisplayRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('myFonts/SfProDisplayBold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('myFonts/SfProDisplayHeavyItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

/* end police importées */


/* start corps de la page */
.myCVTheme {
    --themeBackgroundColor: rgba(27, 29, 39, 1);
    --themeMenuColor: rgba(255, 255, 255, 0.5);
    --themeLightedColor: rgba(253, 147, 1, 1);
    --themeFontColor1: rgba(255, 255, 255, 1);
    --themeFontColor2: rgba(72, 111, 130, 1);
    --themeFontColor3: rgba(66, 104, 60, 1);
    --themeTransitionDuration: 1s;
}

.myTrainingsTheme {
    --themeBackgroundColor: rgba(7, 41, 72, 1);
    --themeMenuColor: rgba(255, 255, 255, 0.5);
    --themeLightedColor: rgba(253, 147, 1, 1);
    --themeFontColor1: rgba(255, 255, 255, 1);
    --themeFontColor2: rgba(207, 246, 126, 1);
    --themeFontColor3: rgba(66, 104, 60, 1);
    --themeTransitionDuration: 1s;
}

.aboutMeTheme {
    --themeBackgroundColor: rgba(72, 111, 130, 1);
    --themeMenuColor: rgba(255, 255, 255, 0.5);
    --themeLightedColor: rgba(255, 235, 156, 1);
    --themeFontColor1: rgba(255, 255, 255, 1);
    --themeFontColor2: rgba(0, 0, 0, 0);
    --themeFontColor3: rgba(0, 0, 0, 0);
    --themeTransitionDuration: 1s;
}

.myExperienceTheme {
    --themeBackgroundColor: rgba(49, 94, 93, 1);
    --themeMenuColor: rgba(255, 255, 255, 0.5);
    --themeLightedColor: rgba(253, 147, 1, 1);
    --themeFontColor1: rgba(255, 255, 255, 1);
    --themeFontColor2: rgba(0, 0, 0, 0);
    --themeFontColor3: rgba(0, 0, 0, 0);
    --themeTransitionDuration: 1s;
}

.mySkillsTheme {
    --themeBackgroundColor: rgba(66, 104, 60, 1);
    --themeMenuColor: rgba(255, 255, 255, 0.5);
    --themeLightedColor: rgba(253, 147, 1, 1);
    --themeFontColor1: rgba(255, 255, 255, 1);
    --themeFontColor2: rgba(72, 111, 130, 1);
    --themeFontColor3: rgba(27, 29, 30, 1);
    --themeTransitionDuration: 1s;
}

body {
    /* Mise en forme textuelle */
    font-family: 'SF Pro Display', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: medium;
    color: var(--themeFontColor1);

    /* mise en forme bloc / boîte */
    padding-left: 2em;
    padding-right: 2em;
    margin: 0;

    /* Mise en forme arrière-plan et bordure */
    background-color: var(--themeBackgroundColor);
}

/* end corps de la page */

/* start Header de navigation */
header.pageHeaderContainer {
    /* mise en forme bloc / boîte */
    width: 100%;
    height: 150px;
    padding: 0;
    margin: 0;

    /* Mise en page layout */
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;

    /* Mise en forme arrière-plan et bordure */
    background: linear-gradient(to bottom, var(--themeBackgroundColor) 80%, rgba(255, 255, 255, 0) 100%);
}

nav.pageHeaderNav {
    /* mise en forme bloc / boîte */
    width: 100%;
    max-width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;

    /* Mise en page layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Mise en forme arrière-plan et bordure */
    border: 2px solid white;
    border-radius: 15px;
    background-color: var(--themeMenuColor);
}

ul.pageHeaderMenu {
    /* Mise en forme textuelle */
    list-style: none;

    /* mise en forme bloc / boîte */
    width: 100%;
    padding: 0;
    margin: 0;

    /* Mise en page layout */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul.pageHeaderMenu li.menuItem {
    display: block;
    text-align: center;
}

ul.pageHeaderMenu li.small {
    flex: 0 0 auto;
}

ul.pageHeaderMenu li a {
    display: block;
    text-decoration: none;
    color: var(--themeBackgroundColor);
}

.pictureContainer {
    position: relative;
    display: inline-block;
}

.pictureCircle {
    position: absolute;
    top: -7px;
    left: -8px;
    z-index: 1;
    width: 120px;
    height: 120px;
    background-color: var(--themeBackgroundColor);
    border-radius: 100%;
}

.pictureContainer .myPicture {
    position: relative;
    z-index: 2;
    height: 100px;
    border: 2px solid white;
    border-radius: 100%;
}

.arrowLeftContainer .arrowLeft,
.arrowRightContainer .arrowRight {
    fill: var(--themeBackgroundColor);
}

/* end Header de navigation */

/* start gestion de l'affichage des sections */
section.inactive {
    display: none;
}

section.active {
    display: block;
}

/* end gestion de l'affichage des sections */

/* start div, titre h1 et paragraphe */
div.bordered {
    border-radius: 15px;
    border: 2px solid white;
    margin-bottom: 2em;
}

h1 {
    color: var(--themeBackgroundColor);
    text-align: left;
    width: 50%;
    border-top-left-radius: 10px;
    background: linear-gradient(to right, var(--themeFontColor1) 10%, rgba(255, 255, 255, 0) 100%);
    margin: 0;
    padding: 0.5em;
}

p {
    margin: 1em;
}

p.fontColor1 {
    color: var(--themeFontColor1);
}

p.fontColor2 {
    color: var(--themeFontColor2);
}

p.fontColor3 {
    color: var(--themeFontColor3);
}

/* end section A propose de moi */

/* start menu civilState */
.myCivilStateList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    width: 100%;
}

/* end menu civilState */

/* start list myHobbies */
.myHobbiesMainList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
}

.myHobbiesMainListItem {
    width: 20%;
}

.myHobbiesSubList {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.myHobbiesSubSubList {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.myHobbiesSubSubListItem {
    width: 10%;
    padding: 0;
    margin: 0;
}

/* end list myHobbies */

/* start footer */
footer {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* end footer */

/* end mise page *********************************************************************************/

/* start animations ******************************************************************************/
/* Auréole dorée au survol*/
@keyframes heartbeat {
    0% {
        border: 2px solid var(--themeFontColor1);
    }

    20% {
        border: 2px solid var(--themeLightedColor);
    }

    30% {
        border: 2px solid var(--themeFontColor1);
    }

    40% {
        border: 2px solid var(--themeLightedColor);
    }

    60% {
        border: 2px solid var(--themeFontColor1);
    }

    80% {
        border: 2px solid var(--themeFontColor1);
    }

    100% {
        border: 2px solid var(--themeFontColor1);
    }
}

.lightedOn {
    animation-name: heartbeat;
    animation-duration: var(--themeTransitionDuration);
    animation-iteration-count: 1;
}

/* Rotation flèche menu au survol de l'image centrale */
.arrowLeft.rotationOn {
    transition: ease-in-out;
    transition-duration: var(--themeTransitionDuration);
    transform: rotate(180deg);
}

.arrowLeft.rotationOff {
    transition: ease-in-out;
    transition-duration: var(--themeTransitionDuration);
}

.arrowRight.rotationOn {
    transition: ease-in-out;
    transition-duration: var(--themeTransitionDuration);
    transform: rotate(-180deg);
}

.arrowRight.rotationOff {
    transition: ease-in-out;
    transition-duration: var(--themeTransitionDuration);
}

/* Soulignement des éléments du menu lors de leur survol */
.pageHeaderMenu li.underlined a {
    position: relative;
    font-weight: bold;
    padding: 7px;
}

.pageHeaderMenu li.underlined a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 3px;
    border-bottom: 3px solid transparent;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
}

.pageHeaderMenu li.underlined a:hover::after {
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    border-bottom: 3px solid var(--themeBackgroundColor);
    width: 90%;
    transform: translateX(-50%) scaleX(0.9);
}

/* Effet d'étirement lors d'arrivée en butée en scrollant */
.stretch {
    margin-top: 3em;
    margin-bottom: 3em;
}

.contraft {
    margin-top: 1em;
    margin-bottom: 1em;
}


/* Cartes par dessus icônes de la section état civil */
figure {
    position: relative;
    width: 250px;
    height: 100px;
    overflow: hidden;
}

figcaption {
    position: absolute;
    margin: 0;
    right: 0;
    left: 0;
    height: 100px;
    bottom: -100px;
    background-color: rgba(255, 255, 255, 0.8);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    color: var(--themeBackgroundColor);
    transition-property: all;
    transition-duration: var(--themeTransitionDuration);
    transition-timing-function: ease-out;
}

figure:hover figcaption {
    bottom: 0;
}

figcaption a {
    text-decoration: none;
    color: var(--themeBackgroundColor);
}

figcaption a:hover {
    text-decoration: none;
}



/* end animations ********************************************************************************/